#navprincipal {
    background-color: rgb(119, 69, 170);
    background-size: cover;
    width: 99vw;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(119, 69, 170), #000000);
  }
  
  #logonav {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    height: 1vh;
  }
  #logonavprincipal {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 48px;
    height: 50px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .logomorado {
    position: absolute;
    top: 30vh;
    left: 38vh;
  }
  .logomorado img {
    width: 50vh;
  }
  
  #imgcel {
    position: absolute;
    top: -45vh;
  }
  
  .navprincipal button {
    background-color: rgba(28, 28, 29, 0.5);
  }

#loginboton {
    background-color: #17171863;
    color: #fff;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    margin-top: 4rem;
    margin-right: 0rem;
    margin-left: 50rem;
    width: 15%;
    height: 60px;
    border-radius: 10px;
    border: none;
  }

#registroboton {
    background-color: #17171863;
    color: #fff;
    font-size: 100%;
    font-family: Inter;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 2rem;
    width: 15%;
    height: 60px;
    border-radius: 10px;
    border: none;
  }